.chart {
  margin-left: 8em !important;
}

.doge-card-title {
  background-color: #cb9800;
  position: sticky;
}

.doge-card-1 {
  height: 40vh;
  overflow-y: scroll;
}

.doge-card-2 {
  height: 40vh;
}
.doge-card-body {
  font-size: 1em;
}
