.chart {
  margin-left: 8em !important;
}

.eth-card-title {
  background-color: #5ca6ce;
  position: sticky;
}

.eth-card-1 {
  height: 40vh;
  overflow-y: scroll;
}

.eth-card-2 {
  height: 40vh;
}
.eth-card-body {
  font-size: 1em;
}
