.homepage > h1 {
  text-align: center;
  margin-left: 8em;
}

.card-container {
  text-align: center;
}

.card-container-home {
  margin-left: 280px !important;
  text-align: center;
  padding: 10px 20px !important;
}

.card-1 {
  background-color: orange !important;
}

.card-2 {
  background-color: royalblue !important;
}

.card-3 {
  background-color: Green !important;
}

.card-body {
  font-size: 3em;
}

.card-link {
  text-decoration: none;
  color: black;
}

.card-link:hover {
  color: black;
}
