.homepage > h1 {
  text-align: center;
  margin-left: 8em;
}

.card-container {
  margin-left: 20em !important;
  text-align: center;
}
.card-1 {
  background-color: orange !important;
}

.card-2 {
  background-color: royalblue !important;
}

.card-3 {
  background-color: Green !important;
}

.card-body {
  font-size: 3em;
}

.card-link {
  text-decoration: none;
  color: black;
}

.card-link:hover {
  color: black;
}
